:root {
  --col-background-color: #d8d8d8;
  --col-border-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.container {
  max-width: 100%;
  margin: auto;
}
.container--fluid {
  max-width: 100% !important;
}

[class*=col-] {
  background-color: var(--col-background-color);
  border: 1px solid var(--col-border-color);
  width: 100%;
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 80vw;
  margin: auto;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding: 15px;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding: 15px;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
  padding: 15px;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding: 15px;
}

.luis {
  content: docente;
}

.maribel {
  content: ayudante;
}

.gonzalo {
  content: alumno;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 15px;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 15px;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    padding: 15px;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
    padding: 15px;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }
}
.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding: 15px;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding: 15px;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
  padding: 15px;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  width: 100%;
  padding: 15px;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  width: 100%;
  padding: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding: 15px;
}

/*# sourceMappingURL=distributable.css.map */
